Repository ArkEcosystem/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

.lintstagedrc.json:

{
    "src/*.ts": ["yarn lint", "jest --bail --coverage --findRelatedTests", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore(deps): update dependency @types/jest to v25
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7
  package.json
Due: prettier --write

fix(deps): update dependency type-fest to ^0.13.0
  package.json
Due: prettier --write

chore(deps): update dependency jest to v26
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2
  package.json
Due: prettier --write

chore(deps): update dependency ts-jest to v26
  package.json
Due: prettier --write

wip
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/test.yml
  package.json
Due: prettier --write

fix(deps): update dependency type-fest to ^0.14.0
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3
  package.json
Due: prettier --write

fix(deps): update dependency type-fest to ^0.15.0
  package.json
Due: prettier --write

chore(deps): update dependency @types/jest to v26
  package.json
Due: prettier --write

fix(deps): update dependency type-fest to ^0.16.0
  package.json
Due: prettier --write

chore: add HEAD http method
  __tests__/http.test.ts
  src/http.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement HTTP HEAD method (#86)
  __tests__/http.test.ts
  src/http.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.2.0
  .yarn/install-state.gz
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .pnp.js
  .yarn/cache/@babel-core-npm-7.11.0-260a485546-3.zip
  .yarn/cache/@babel-core-npm-7.11.1-0e940c9b00-3.zip
  .yarn/cache/@babel-parser-npm-7.11.3-6f623fe67c-3.zip
  .yarn/cache/@types-jest-npm-26.0.8-b0e4c5b5fe-3.zip
  .yarn/cache/@types-jest-npm-26.0.9-4678777297-3.zip
  .yarn/cache/@types-lodash-npm-4.14.158-ddc174121c-3.zip
  .yarn/cache/@types-lodash-npm-4.14.159-9118effd98-3.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-3.7.1-2bc6e09e6c-3.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-3.8.0-424b280f84-3.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-3.7.1-725e3f1c58-3.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-3.8.0-9bbd1de20c-3.zip
  .yarn/cache/@typescript-eslint-parser-npm-3.7.1-fa0981f46b-3.zip
  .yarn/cache/@typescript-eslint-parser-npm-3.8.0-71c78d365b-3.zip
  .yarn/cache/@typescript-eslint-types-npm-3.7.1-ede1a3a952-3.zip
  .yarn/cache/@typescript-eslint-types-npm-3.8.0-00f9c156d1-3.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-3.7.1-6ca8578399-3.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-3.8.0-ad51c4f27c-3.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-3.7.1-fc7cc7cfa7-3.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-3.8.0-0e6970eab4-3.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

wip
  src/http.test.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

wip
  src/dot-env.test.ts
  test/fixtures/.env
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

wip
  src/is-weak-set.test.ts
  src/omit-by.test.ts
  src/pick-by.test.ts
  src/protocols.test.ts
  src/shuffle.test.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

wip
  jest.config.js
Due: none

chore: drop husky and lint-staged
  .lintstagedrc.json
  .pnp.js
  .yarn/build-state.yml
  .yarn/cache/@types-parse-json-npm-4.0.0-298522afa6-3.zip
  .yarn/cache/astral-regex-npm-2.0.0-f30d866aab-3.zip
  .yarn/cache/cli-cursor-npm-3.1.0-fee1e46b5e-3.zip
  .yarn/cache/cli-truncate-npm-2.1.0-72184d3467-3.zip
  .yarn/cache/commander-npm-5.1.0-7e939e7832-3.zip
  .yarn/cache/compare-versions-npm-3.6.0-0bb57ed638-3.zip
  .yarn/cache/cosmiconfig-npm-6.0.0-cb7d64a2b9-3.zip
  .yarn/cache/dedent-npm-0.7.0-2dbb45a4c5-3.zip
  .yarn/cache/figures-npm-3.2.0-85d357e955-3.zip
  .yarn/cache/find-versions-npm-3.2.0-2a87d094e9-3.zip
  .yarn/cache/get-own-enumerable-property-symbols-npm-3.0.2-f143f9e8d3-3.zip
  .yarn/cache/husky-npm-4.2.5-30d80a2ef8-3.zip
  .yarn/cache/is-obj-npm-1.0.1-7d391539d7-3.zip
  .yarn/cache/is-regexp-npm-1.0.0-8f95f51a0c-3.zip
  .yarn/cache/lint-staged-npm-10.2.11-8bc771b5a3-3.zip
  .yarn/cache/listr2-npm-2.1.8-4aa1d804ae-3.zip
  .yarn/cache/log-symbols-npm-4.0.0-7291c4d053-3.zip
  .yarn/cache/log-update-npm-4.0.0-9d0554261c-3.zip
  .yarn/cache/opencollective-postinstall-npm-2.0.2-08cf9e2f3d-3.zip
  .yarn/cache/p-map-npm-4.0.0-4677ae07c7-3.zip
  .yarn/cache/please-upgrade-node-npm-3.2.0-3f653350ed-3.zip
  .yarn/cache/restore-cursor-npm-3.1.0-52c5a4c98f-3.zip
  .yarn/cache/rxjs-npm-6.5.5-c43270ece8-3.zip
  .yarn/cache/semver-compare-npm-1.0.0-33f7033df0-3.zip
  .yarn/cache/semver-regex-npm-2.0.0-218c804009-3.zip
  .yarn/cache/slice-ansi-npm-3.0.0-d9999864af-3.zip
  .yarn/cache/slice-ansi-npm-4.0.0-6eeca1d10e-3.zip
  .yarn/cache/string-argv-npm-0.3.1-b4f6cd3d7b-3.zip
  .yarn/cache/stringify-object-npm-3.3.0-3e6784f7df-3.zip
  .yarn/cache/through-npm-2.3.8-df5f72a16e-3.zip
  .yarn/cache/which-pm-runs-npm-1.0.0-c3252bc9d6-3.zip
  .yarn/cache/yaml-npm-1.10.0-3e2d763b45-3.zip
  .yarn/install-state.gz
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @hapi/hapi to v20
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v24
  package.json
Due: prettier --write

chore(deps): update dependency big.js to v6
  package.json
Due: prettier --write

wip
  .pnp.js
  .yarn/cache/@types-semver-npm-7.3.4-96fde085ea-3.zip
  .yarn/cache/@types-treeify-npm-1.0.0-b5e04e9cd3-3.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.2.0-c50f64a8b4-3.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.3.0-b293c42ba6-3.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.3.0-c6359f4eff-3.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.2.0-3a91f42f37-3.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.3.0-bcd5831c8c-3.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.3.0-e81e41ef90-3.zip
  .yarn/cache/@typescript-eslint-types-npm-4.3.0-625831b08c-3.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.3.0-9071b84f72-3.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.3.0-324845978c-3.zip
  .yarn/cache/@yarnpkg-core-npm-2.2.2-43f4a63872-3.zip
  .yarn/cache/@yarnpkg-core-npm-2.3.0-7525e7fc9c-3.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.2.1-0ddc8d568d-3.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.2.2-d560f300e9-3.zip
  .yarn/cache/@yarnpkg-libzip-npm-2.2.0-8359494fe3-3.zip
  .yarn/cache/@yarnpkg-libzip-npm-2.2.1-8ad75a808a-3.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.2.0-7ac1681e20-3.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.2.1-23317f0e32-3.zip
  .yarn/cache/@yarnpkg-pnp-npm-2.2.1-d1d0e68355-3.zip
  .yarn/cache/@yarnpkg-pnp-npm-2.3.0-afa3e87261-3.zip
  .yarn/cache/@yarnpkg-pnpify-npm-2.2.1-d80be8afa4-3.zip
  .yarn/cache/@yarnpkg-pnpify-npm-2.3.1-f30ce1a247-3.zip
  .yarn/cache/@yarnpkg-shell-npm-2.2.0-762d177450-3.zip
  .yarn/cache/@yarnpkg-shell-npm-2.3.0-1c93b34fd7-3.zip
  .yarn/cache/big.js-npm-6.0.0-ce8e951927-3.zip
  .yarn/cache/big.js-npm-6.0.1-c3dad7b70f-3.zip
  .yarn/cache/bignumber.js-npm-9.0.0-ce190bcd7c-3.zip
  .yarn/cache/bignumber.js-npm-9.0.1-270d0c8a55-3.zip
  .yarn/cache/binjumper-npm-0.1.2-f92273dfb2-3.zip
  .yarn/cache/treeify-npm-1.1.0-abf9292333-3.zip
  .yarn/cache/ts-jest-npm-26.4.0-46cb04e6d8-3.zip
  .yarn/cache/ts-jest-npm-26.4.1-57675b03fb-3.zip
  .yarn/cache/type-fest-npm-0.16.0-e1b8ff05d9-3.zip
  .yarn/cache/type-fest-npm-0.17.0-65da161963-3.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write
