Repository ArkEcosystem/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

.lintstagedrc.json:

{
    "src/*.ts": ["yarn lint", "jest --bail --coverage --findRelatedTests", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

feat: implement isGit method
  __tests__/is-git.test.ts
  src/is-git.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isSSH method
  __tests__/is-ssh.test.ts
  src/is-ssh.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement parseGitUrl method
  .eslintrc.json
  __tests__/parse-git-url.test.ts
  commitlint.config.js
  renovate.json
  src/index.ts
  src/parse-git-url.ts
  tsconfig.eslint.json
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement trimTrailingSlash method
  __tests__/trim-trailing-slash.test.ts
  src/trim-trailing-slash.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 0.8.8
  CHANGELOG.md
  commitlint.config.js
  package.json
Due: prettier --write

chore: use @arkecosystem/commitlint configuration for commitlint
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write

feat: implement findIndex method
  __tests__/find-index.test.ts
  benchmark/find-index.js
  benchmark/index.js
  src/find-index.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement includes method
  __tests__/find-index.test.ts
  __tests__/includes.test.ts
  benchmark/includes.js
  benchmark/index.js
  src/includes.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement find method
  __tests__/find.test.ts
  benchmark/find.js
  benchmark/index.js
  src/find.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 0.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: add commands for different package managers
  .gitignore
  README.md
  yarn.lock
Due: prettier --write

docs: fix test commands for npm and pnpm
  README.md
Due: prettier --write

refactor: wip
  .eslintrc.json
  .lintstagedrc.json
  __tests__/merge.test.ts
  src/index.ts
  src/internal/index.ts
  src/internal/safe-get.ts
  src/internal/types.ts
  src/is-date.ts
  src/merge.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

chore: housekeeping
  __tests__/fill.test.ts
  src/at.ts
  src/get.ts
  src/has.ts
  src/set.ts
  src/unset.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement expandTilde method
  __tests__/expand-tilde.test.ts
  src/expand-tilde.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement DotEnv class
  .lintstagedrc.json
  __tests__/__fixtures__/.env
  __tests__/dot-env.test.ts
  package.json
  src/dot-env.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

refactor: work towards strict mode
  __tests__/assign.test.ts
  __tests__/keys-in.test.ts
  __tests__/keys.test.ts
  __tests__/nsect.test.ts
  src/camel-case.ts
  src/capped-map.ts
  src/collection.ts
  src/concat.ts
  src/constant-case.ts
  src/dot-case.ts
  src/dot-env.ts
  src/every.ts
  src/fill.ts
  src/filter-array.ts
  src/get.ts
  src/header-case.ts
  src/internal/compound-words.ts
  src/kebab-case.ts
  src/last-index-of.ts
  src/lower-case.ts
  src/nsect.ts
  src/parse-git-url.ts
  src/partition.ts
  src/pascal-case.ts
  src/path-case.ts
  src/pick.ts
  src/reduce-array.ts
  src/reduce-right-object.ts
  src/reduce-right.ts
  src/reduce.ts
  src/snake-case.ts
  src/start-case.ts
  src/union-by.ts
  src/union.ts
  src/uniq-by.ts
  src/upper-case.ts
  src/words.ts
  tsconfig.json
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isSyncFunction & isAsyncFunction methods
  __tests__/is-async-function.test.ts
  __tests__/is-function.test.ts
  __tests__/is-sync-function.test.ts
  __tests__/parse-git-url.test.ts
  src/index.ts
  src/internal/compound-words.ts
  src/is-async-function.ts
  src/is-function.ts
  src/is-sync-function.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement getType method
  __tests__/get-type.test.ts
  src/get-type.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isDate method
  __tests__/is-date.test.ts
  src/is-date.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isArguments method
  __tests__/is-arguments.test.ts
  src/is-arguments.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isWeakMap method
  __tests__/internal/compound-words.test.ts
  __tests__/is-weak-map.test.ts
  src/is-weak-map.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

test: 100% coverage
  .eslintrc.json
  __tests__/parse-git-url.test.ts
  src/parse-git-url.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

fix: spread any arguments for concat
  src/concat.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

refactor: improve type detection for VMs
  src/is-array-of-type.ts
  src/is-array.ts
  src/is-boolean.ts
  src/is-map.ts
  src/is-null.ts
  src/is-number.ts
  src/is-object.ts
  src/is-reg-exp.ts
  src/is-set.ts
  src/is-string.ts
  src/is-symbol.ts
  src/is-undefined.ts
  src/is-weak-map.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 0.9.9
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): update dependency @sindresorhus/tsconfig to ^0.5.0
  package.json
Due: prettier --write

refactor: export dotenv methods as an object
  __tests__/dot-env.test.ts
  src/dot-env.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement isError method
  __tests__/is-error.test.ts
  src/index.ts
  src/is-error.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isPromise method
  __tests__/is-promise.test.ts
  src/is-promise.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isWeakSet method
  __tests__/is-weak-set.test.ts
  src/is-weak-set.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isBuffer method
  __tests__/is-buffer.test.ts
  src/index.ts
  src/is-buffer.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

chore: benchmark the intersection method
  benchmark/index.js
  benchmark/intersection.js
Due: none

feat: implement intersection method
  __tests__/intersection.test.ts
  src/index.ts
  src/intersection.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement base64.encode & base64.decode method
  __tests__/base64.test.ts
  src/base64.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement hex.encode & hex.decode method
  __tests__/hex.test.ts
  src/hex.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement binary.encode & binary.decode method
  __tests__/binary.test.ts
  src/binary.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement chars method
  __tests__/chars.test.ts
  src/chars.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement extension method
  __tests__/extension.test.ts
  src/extension.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write
