Repository ArkEcosystem/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

.lintstagedrc.json:

{
    "src/*.ts": ["yarn lint", "jest --bail --coverage --findRelatedTests", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

feat: implement isBigInt method
  __tests__/is-bigint.test.ts
  src/index.ts
  src/is-bigint.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isNegative method
  __tests__/is-negative.test.ts
  src/is-negative.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isPositive method
  __tests__/is-positive.test.ts
  src/is-positive.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isNegativeZero method
  __tests__/is-negative-zero.test.ts
  src/index.ts
  src/is-negative-zero.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isPositiveZero method
  __tests__/is-positive-zero.test.ts
  src/is-positive-zero.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement isURL method
  __tests__/is-url.test.ts
  src/index.ts
  src/is-buffer.ts
  src/is-url.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement http methods
  __tests__/http.test.ts
  __tests__/is-url.test.ts
  commitlint.config.js
  jest.config.js
  package.json
  src/http.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement sleep method
  __tests__/sleep.test.ts
  src/index.ts
  src/sleep.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement semver methods
  __tests__/semver.test.ts
  src/index.ts
  src/semver.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.0.30
  CHANGELOG.md
  package.json
Due: prettier --write

docs: add accidentally removed changelog entry
  CHANGELOG.md
Due: prettier --write

fix(http): handle timeouts for requests
  __tests__/http.test.ts
  src/http.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.0.31
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: add types to get, has and unset
  src/collection.ts
  src/get.ts
  src/has.ts
  src/unset.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.0.34
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement randomBits method
  __tests__/random-bits.test.ts
  src/random-bits.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

refactor: rename random to randomNumber
  __tests__/random-number.test.ts
  benchmark/random.js
  src/index.ts
  src/random-number.ts
  src/random.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement safeEqual method
  __tests__/safe-equal.test.ts
  src/safe-equal.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement randomBase64 method
  __tests__/random-base64.test.ts
  src/random-base64.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement randomHex method
  __tests__/random-hex.test.ts
  src/index.ts
  src/random-hex.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

refactor: drop VM support
  README.md
  src/is-array.ts
  src/is-bigint.ts
  src/is-boolean.ts
  src/is-date.ts
  src/is-error.ts
  src/is-map.ts
  src/is-null.ts
  src/is-number.ts
  src/is-object.ts
  src/is-promise.ts
  src/is-reg-exp.ts
  src/is-set.ts
  src/is-string.ts
  src/is-symbol.ts
  src/is-undefined.ts
  src/is-weak-map.ts
  src/is-weak-set.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement pluralize method
  README.md
  __tests__/pluralize.test.ts
  src/index.ts
  src/pluralize.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

feat: implement prettyTime method
  __tests__/pretty-time.test.ts
  src/index.ts
  src/pretty-time.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

refactor: rename formatBytes to prettyBytes
  __tests__/format-bytes.test.ts
  __tests__/pretty-bytes.test.ts
  src/index.ts
  src/pretty-bytes.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: autoload benchmarks and benchmark pluralize
  benchmark/index.js
  benchmark/pluralize.js
  package.json
Due: prettier --write

wip
  package.json
  src/fs.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

test: make mutability of sorting methods more clear
  __tests__/order-by.test.ts
  __tests__/sort-by-desc.test.ts
  __tests__/sort-by.test.ts
Due: none

feat: add immutable sortBy, sortByDesc and orderBy
  __tests__/immutable/order-by.test.ts
  __tests__/immutable/sort-by-desc.test.ts
  __tests__/immutable/sort-by.test.ts
  src/immutable/index.ts
  src/immutable/order-by.ts
  src/immutable/sort-by-desc.ts
  src/immutable/sort-by.ts
  src/index.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

wip
  package.json
  src/brotli.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

wip
  src/gzip.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

chore: update dependencies
  package.json
Due: prettier --write

fix: types in safeEqual method
  src/safe-equal.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

fix: only treat undefined as a missing key for has checks
  __tests__/has.test.ts
  src/has.ts
  src/safe-equal.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.1.4
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: better handling of falsy values for `has`
  __tests__/has.test.ts
  src/has.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.1.5
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: better handling of falsy values for `get`
  __tests__/get.test.ts
  src/get.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write

release: 1.1.6
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: better falsy handling for set and unset
  __tests__/set.test.ts
  __tests__/unset.test.ts
  src/get.ts
  src/has.ts
  src/index.ts
  src/internal/index.ts
  src/set.ts
  src/unset.ts
Due: yarn lint, jest --bail --coverage --findRelatedTests, prettier --write
