Repository ArkEcosystem/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore: update dependencies (#97)
  .pnp.js
  .yarn/cache/@types-semver-npm-7.3.4-96fde085ea-3.zip
  .yarn/cache/@types-treeify-npm-1.0.0-b5e04e9cd3-3.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.2.0-c50f64a8b4-3.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.3.0-b293c42ba6-3.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.3.0-c6359f4eff-3.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.2.0-3a91f42f37-3.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.3.0-bcd5831c8c-3.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.3.0-e81e41ef90-3.zip
  .yarn/cache/@typescript-eslint-types-npm-4.3.0-625831b08c-3.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.3.0-9071b84f72-3.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.3.0-324845978c-3.zip
  .yarn/cache/@yarnpkg-core-npm-2.2.2-43f4a63872-3.zip
  .yarn/cache/@yarnpkg-core-npm-2.3.0-7525e7fc9c-3.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.2.1-0ddc8d568d-3.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.2.2-d560f300e9-3.zip
  .yarn/cache/@yarnpkg-libzip-npm-2.2.0-8359494fe3-3.zip
  .yarn/cache/@yarnpkg-libzip-npm-2.2.1-8ad75a808a-3.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.2.0-7ac1681e20-3.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.2.1-23317f0e32-3.zip
  .yarn/cache/@yarnpkg-pnp-npm-2.2.1-d1d0e68355-3.zip
  .yarn/cache/@yarnpkg-pnp-npm-2.3.0-afa3e87261-3.zip
  .yarn/cache/@yarnpkg-pnpify-npm-2.2.1-d80be8afa4-3.zip
  .yarn/cache/@yarnpkg-pnpify-npm-2.3.1-f30ce1a247-3.zip
  .yarn/cache/@yarnpkg-shell-npm-2.2.0-762d177450-3.zip
  .yarn/cache/@yarnpkg-shell-npm-2.3.0-1c93b34fd7-3.zip
  .yarn/cache/big.js-npm-6.0.0-ce8e951927-3.zip
  .yarn/cache/big.js-npm-6.0.1-c3dad7b70f-3.zip
  .yarn/cache/bignumber.js-npm-9.0.0-ce190bcd7c-3.zip
  .yarn/cache/bignumber.js-npm-9.0.1-270d0c8a55-3.zip
  .yarn/cache/binjumper-npm-0.1.2-f92273dfb2-3.zip
  .yarn/cache/treeify-npm-1.1.0-abf9292333-3.zip
  .yarn/cache/ts-jest-npm-26.4.0-46cb04e6d8-3.zip
  .yarn/cache/ts-jest-npm-26.4.1-57675b03fb-3.zip
  .yarn/cache/type-fest-npm-0.16.0-e1b8ff05d9-3.zip
  .yarn/cache/type-fest-npm-0.17.0-65da161963-3.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

fix: use return to avoid multiple resolve
  src/http.ts
Due: yarn lint, prettier --write

fix(http): use return to avoid multiple resolve (#99)
  src/http.ts
Due: yarn lint, prettier --write

fix: use plural form when count is 0
  src/pluralize.ts
Due: yarn lint, prettier --write

test: use plural form when count is 0
  src/pluralize.test.ts
Due: yarn lint, prettier --write

fix: use plural form when count is 0 (#100)
  src/pluralize.test.ts
  src/pluralize.ts
Due: yarn lint, prettier --write

release: 1.3.0
  .yarn/install-state.gz
  package.json
Due: prettier --write

feat: implements BigNumber.toBigInt()
  src/big-number.test.ts
  src/big-number.ts
Due: yarn lint, prettier --write

feat: implements BigNumber.toBigInt() (#101)
  src/big-number.test.ts
  src/big-number.ts
Due: yarn lint, prettier --write

release: 1.3.1
  package.json
Due: prettier --write

release: 1.3.1 (#102)
  package.json
Due: prettier --write

chore: update repo banner
  banner.png
Due: none

Path conditions:
  yarn lint: any of: src/*.ts
  prettier --write: (any of: src/*.ts) or (any of: *.{json,md})
